body {
  background-image: url("images/bg06.jpg");
  background-size: cover;
}
.my-bar{
font-family: 'Kanit', sans-serif;
  font-size: 30px;
  line-height: 95px;
  color: #FFFFFF;
  font-weight: bold;
}
.row1{
background-image: url("images/bg03.jpg");
  background-size: cover;
}
}
h4{
font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 95px;
  color: #004AAD;
  font-weight: bold;
}
.my-h{
  text-decoration: none;
   color: #FFFFFF;
}
.my-p{
  text-decoration: none;
   color: #FFFFFF;
}






h3{
font-family: 'Inter', sans-serif;
  font-size: 30px;
  line-height: 60px;
  color: #2E4881;
  font-weight: bold;
}
.row2{
background-color: #CFE7E8;
}
.my-certi{
  line-height: 60px;
}
.my-cer{
background-color: #CFE7E8;;
}
.my-menu{
  text-decoration: none;
}
.my-university{
  text-decoration: none;

}
.my-school{
  text-decoration: none;

}
.my-cer1{
  text-decoration: none;

}
